.BasketBike .Avatar__img {
  width:70px!important;
  height: 50px!important;
  border-radius: 0!important;
}

.BasketBike__Price {
  display: block;
  margin-top: 12px;
  font-size: 18px;
}

.BasketSum__Price {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: bold;
  color: var(--accent);
}

.BasketSum__ItemSum {
  font-weight: bold;
  color: var(--button_muted_background);
}

.BasketSum .Cell__main {
  padding-right: 0;
}

.UserInfo .Button {
  padding-top: 0;
  padding-left: 0;
}
.UserInfo .Button__content {
  padding-top: 0;
}