.ProfileLinksCounter {
    position: relative;
    padding-top: 5px;
    padding-left: 40px;
}

.ProfileLinksCounter__Number {
    width: 32px;
    height: 32px;
    background-color: hotpink;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 3px 1px hotpink;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 999;
    color: #fff;
    font-weight: 600;
}

.UserProfile {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-top: 20px;
}

.UserProfile__Avatar {
    margin-right: 20px;
}

.UserProfile__Avatar img {
    border-radius: 50%;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.UserProfile__Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.UserProfile__name {
    margin-top: 0;
    margin-bottom: 4px;
}

.Counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Counter__Number {
    font-size: 30px;
    font-weight: 700;
    color: #63b9ba;
}

.Counter__Icon {
    color: #aaaeb3;
    transform: scale(.75);
}