.ProfileLinksCounter {
    position: relative;
    padding-top: 5px;
    padding-left: 40px;
}

.ProfileLinksCounter__Number {
    width: 32px;
    height: 32px;
    background-color: hotpink;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 3px 1px hotpink;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 999;
    color: #fff;
    font-weight: 600;
}

.UserInfo {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-top: 0 !important;
}

.UserInfo__Avatar {
    margin-right: 20px;
}

.UserInfo__Avatar img {
    max-height: 48px;
    max-width: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.UserInfo__Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.UserInfo__name {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
}

.LinkInfo {
    display: flex;
    flex-direction: row;
}

.Views,
.Date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
}

.Views__Number,
.Date__Number {
    line-height: 1;
    font-size: 12px;
    font-weight: 700;
    color: #aaaeb3;
}

.Views__Icon,
.Date__Icon {
    color: #67707a;
    transform: scale(.75);
}
